@{
    ViewBag.Title = "Common Message";
}
<div id="commonMessPage">
    <h2>
        Common Message for Log4Net file</h2>
    <div id="commonMessZone">
        <p>
            @ViewBag.CommonMess
        </p>
    </div>
</div>
