@model RnD.ExceptionSample.ViewModels.ProductViewModel
<div id="deleteProductForm">
    <fieldset>
        <legend>Product:</legend>
        <div id="deleteProductMess" class="error invisible">
        </div>
        @Html.HiddenFor(model => model.ProductId)
        <div class="display-field">
            <strong>Product Name: </strong>@Html.DisplayFor(model => model.Name)
        </div>
        <div class="display-field">
            <strong>Price: </strong>@Html.DisplayFor(model => model.Price)
        </div>
        <div class="display-field">
            Do you want delete this product?
        </div>
        <div class="display-field">
            <button id="proDelete" class="button">
                Delete
            </button>
        </div>
    </fieldset>
</div>
<script src="@Url.Content("~/Scripts/App/product-jq.js")" type="text/javascript"></script>
